*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #DBDBDB;
}

header{
	width: 100%;
	height: 150px;
	background-color: #B7EE78;
}

.test{
	display: flex;
	justify-content: space-between;
}

.conteneurHeader{
	
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.menuDeNavigationHeader{
	display: block;
	
}

ul{
	list-style-type: none;
	justify-content: space-between;
}

/*texte nos produits*/
.texteNosProduits{
	color: #FF00A1;
	font-size: 2.5em;
	text-decoration: underline;
	margin: 50px;
}

.blocPrincipaleProduits1{
	display: flex;
	margin: 50px;
	justify-content: space-around;
}

.conteneurImageproduits1{
	height: 420px;
	width: 350px;
	padding: 25px;
	background-color: #EEEEEE;
	border-radius:11px ;
	box-sizing: content-box;
	margin: 10px;
}
.descriptionProduits{
	/*box-sizing: content-box;*/

	margin-top: 15px;
	margin-bottom: 45px;
}

.titreProduits{
	font-size: 2em;
	color: #FF00A1;
}

.boutonAcheter{
	background-color: #F06055;
	color: white;
	font-size: 1.4em;
	font-weight: bold;
	padding: 5px;
	border-radius: 11px;

}
#textPrix{
	float: right;
	margin-top: 10px;
}

.textePrix{
	justify-content: flex-end;
}

.image{
	height: auto;
	width: 350px;
	padding: 15px;
	border-radius: 90px;
	border: 1px solid white;
}

.images{
	height: 120px;
	width: 249px;
	padding: 11px;
	border-radius: 90px;
	border: 1px solid white;
}

.blocEnd{
	margin: 50px;
	padding: 25px;
}

/*footer*/
.blocFooter{
	height: auto;
	width: 100%;
	padding: 15px;
	display: flex;
	background-color: #B7EE78;
	justify-content: space-between;
	font-size: 1.3em;
	font-weight: bold;
	color: #0033FF;
}